
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-direction:row;
	flex-wrap:wrap;
}

.item1{
	background-color:green;
}

.item2{
	background-color:red;
}

.item3{
	background-color:blue;
}